// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment-container {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    margin: 1em;
    padding-bottom: 1em;
}
.inner-comment-container {
    margin: 1em;
    padding-bottom: 1em;
}

.comment-avatar {
    border-radius: 50%;
    margin: 0.5em;
    max-width: 100%;
    max-height: 100%;
    clip-path: circle(4em at center);
}

.comment-timestamp {
    font-size: 10;
    color: rgb(100, 100, 100);
    text-align:center;
    width: 100%;
}

.comment-username {
    font-size: 1.5em;
    color: rgb(25,25,25);
    font-weight: 625;
}
.comment-number {
    font-size: 1.5em;
    color: rgb(25,25,25);
    font-weight: 300;
}

.comment-form {
    width: 100%;
}

.comment-body {
    text-align: justify;
}

.comment-form-nested {
    margin-right: 2em;
}