<div class="container jumbotron">
<div class="row">
<h1>About Dean</h1>
<hr class="my-4" />
</div>
<div class="row">
<p style="text-align:justify">
Mauris in aliquam sem fringilla ut morbi tincidunt augue interdum. Cursus euismod quis viverra nibh cras. Blandit volutpat maecenas volutpat blandit aliquam etiam. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget. Adipiscing elit pellentesque habitant morbi. Tellus at urna condimentum mattis pellentesque id. Libero nunc consequat interdum varius sit amet mattis vulputate enim. Tellus id interdum velit laoreet id donec ultrices tincidunt arcu. Laoreet id donec ultrices tincidunt arcu non sodales neque. Consectetur libero id faucibus nisl tincidunt eget nullam non nisi. Ullamcorper morbi tincidunt ornare massa eget egestas. Cras tincidunt lobortis feugiat vivamus. Neque laoreet suspendisse interdum consectetur libero.
<br>
<br>
Tincidunt arcu non sodales neque sodales. Ornare arcu dui vivamus arcu felis bibendum. Nunc congue nisi vitae suscipit tellus mauris a diam. Mi eget mauris pharetra et ultrices neque ornare aenean euismod. Tellus id interdum velit laoreet. Cursus metus aliquam eleifend mi in nulla. Blandit libero volutpat sed cras ornare arcu. Cras adipiscing enim eu turpis egestas pretium aenean. Pharetra massa massa ultricies mi. Enim facilisis gravida neque convallis a cras semper auctor neque. Pulvinar elementum integer enim neque volutpat. Nunc eget lorem dolor sed viverra ipsum nunc aliquet bibendum.
</p>
<hr class="my-4" />
</div>
<div class="btn-group" role="group" aria-label="Basic example">
<button type="button" class="btn btn-secondary" onclick="window.location.href = 'https://github.com/deanout';">GitHub</button>
  <button type="button" class="btn btn-secondary" onclick="window.location.href = 'https://instagram.com/deaniocom';">Instagram</button>
  <button type="button" class="btn btn-secondary" onclick="window.location.href = 'https://twitter.com/deaniocom';">Twitter</button>
  <button type="button" class="btn btn-secondary" onclick="window.location.href = 'https://youtube.com/deanin';">YouTube</button>

</div>

</div>