<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">About Me</h1>
    
        <div class="row">
            <p style="text-align: justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec ultrices dui sapien eget mi proin sed libero. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Turpis egestas integer eget aliquet nibh praesent tristique magna. Magna fringilla urna porttitor rhoncus dolor purus non enim praesent. Dictum sit amet justo donec enim diam. Sit amet cursus sit amet dictum sit amet justo. Euismod quis viverra nibh cras pulvinar. Ultricies integer quis auctor elit sed vulputate mi sit. Dui vivamus arcu felis bibendum ut. Eget magna fermentum iaculis eu non diam phasellus vestibulum. Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Cursus turpis massa tincidunt dui ut ornare.
            <br/>
            <br/>
            Viverra mauris in aliquam sem fringilla. Nulla malesuada pellentesque elit eget. Arcu non odio euismod lacinia at quis risus. Vel pharetra vel turpis nunc eget lorem dolor sed viverra. Lorem ipsum dolor sit amet consectetur. Senectus et netus et malesuada fames ac turpis. Dictumst quisque sagittis purus sit amet volutpat. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Sit amet commodo nulla facilisi. Facilisi nullam vehicula ipsum a. Blandit cursus risus at ultrices mi. Semper quis lectus nulla at volutpat diam ut venenatis tellus. In fermentum posuere urna nec tincidunt praesent semper feugiat.
            </p>
            <hr class="my-4"/>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" onclick="window.location.href = 'https://github.com/deanout';" class="btn btn-secondary">GitHub</button>
            <button type="button" onclick="window.location.href = 'https://instagram.com/deaniocom';" class="btn btn-secondary">Instagram</button>
            <button type="button" onclick="window.location.href = 'https://twitter.com/deaniocom';" class="btn btn-secondary">Twitter</button>
            <button type="button" onclick="window.location.href = 'https://youtube.com/deanin';" class="btn btn-secondary">YouTube</button>
        </div>
    </div>
</div>