<div class="container" style="text-align:center">
    <h1>Your text contains</h1>
    <p><%= pluralize(@word_count, "Word") %></p>

    <hr />
    <div class="row">
        <textarea id="data-entry" type="text" rows=8 data-reflex="keyup->CalculatorReflex#Calculate" placeholder="Type something..." class="form-control form-control-lg d-inline-block col-6"><%= @words %></textarea>
        <textarea id="data-exit" type="text" rows=8 placeholder="Type something..." class="form-control form-control-lg d-inline-block col-6"><%= @reversed %></textarea>
    </div>
</div>