html {
  background-color: #487c84;
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  text-align: center;
}

.title {
  display: inline-block;
  color: #d9faff;
}

#todo_form {
  text-align: center;
  font-size: 0px;
}

#task_input {
  display: inline-block;
  background-color: #8cf0ff;
  padding: 1em;
  font-size: 24px;
  border: none;
}

#task_input:hover {
  background-color: #c8f8ff;
}

#task_input:focus {
  background-color: #fff;
}

.task_submit {
  display: inline-block;
  padding: 1em;
  font-size: 24px;
  margin: 0;
  background-color: #003cffb2;
  color: #fff;
  border: none;
}
.task_submit:hover {
  background-color: #003cffd7;
}
.task_submit:focus {
  background-color: #003cff;
}
#container {
  padding: 1em;
  width: 750px;
  display: inline-block;
}
.task {
  padding: 1em;
  margin: 1em;
  font-size: 24px;
  background-color: #8cf0ff;
  border-radius: 10px;
}
.task:hover {
  background-color: rgba(245, 134, 134, 0.65);
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
