// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.about-image {
    min-width: 100%;
    min-height: 100%;
}