<div class="comment-container" id="comment-<%= comment.id %>">
    <div class="container">
        <%= render 'comments/comments', comment: comment, local: Comment.new %>

        <% unless comment.reply %>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-8">
                <div class="comment-form-nested">
                    <%= render 'comments/form', commentable: comment, local: Comment.new  %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>